* {
  box-sizing: border-box; /* Padding is part of total width */
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*=========================
Navigation ===================*/
a.nav-item {
  font-size: 18px;
  color: white!important;
}

/*=========================
Funds Hero ===================*/

.contact_img img{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.contact_hero {
  padding: 0rem 0rem;
}

.contact_hero h1 {
  padding-top: 8rem;
  padding-left:4rem;
  padding-right:4rem;
  text-align: left;
  color: #002060;
  font-size: 5vw;
  font-weight: 200;

}

.contact_hero h2 {
  text-align: left;
  font-size: 1vw;
  padding: 4rem 4rem;
}


/*=========================
form ===================*/

.form-group , .form-check{
    padding: 0rem 4rem;
}

.form {

}



/*=========================
Footer ===================*/
footer {
position: relative;
top: 8rem;
padding-left: 4rem;
padding-right: 4rem;
background-color: #09666A;
color: white;
height: 20em;
width:100vw;


}

.contact_icon {
position: relative;
top:4rem;
}




.contact_icon figcaption {
  position: relative;
  top:-2.5rem;

padding-left: 4rem;
padding-right: 4rem;
position: relative;
font-size: 14px;


}

footer h3 {
  position: relative;
  top:4rem;
  text-align: center;
  font-size: 10px;
  left: 5rem;
}

.follow_us {
  float: right;
  font-size: 14px;
  position: relative;
  display: inline-block;
  top:-8em;
}

.follow_us figcaption {
padding-left: 1rem;

}
.follow_us figure {

  font-size: 14px;

  float: right;

  top:-10rem;
}

.follow_us img {
  padding-top:1rem;
  padding-left: 1rem;

}
