* {
  box-sizing: border-box; /* Padding is part of total width */
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/*=========================
Navigation ===================*/
a.nav-item {
  font-size: 18%;
  color: white!important;
}

nav.navbar.navbar-expand-lg.navbar-dark {
  padding:0% 10%;
}

.navbar-brand img{
  width: 50px;
}

button.navbar-toggler.ml-auto{
  border: none;
}
.navbar-toggler-icon {
  width: 1rem;
}


/*=========================
Home Hero ===================*/

.support_img img{
  width: 100%;
}

.support_hero {
    padding: 8% 10%;
}

.support_hero h1 {
  text-align: left;
  color: #002060;
  font-size:5vw;
  font-weight: 200;

}

.support_hero h2 {
  text-align: left;
  font-size: 2vw;
  padding: 0rem 0rem;
}

.ho h1 {
  padding-top: 8%;
}


/*=========================
Footer ===================*/
footer {
position: relative;
top: 16vw;
padding-left: 8%;
padding-right: 8%;
background-color: #09666A;
color: white;
height: 35vw;
width:100vw;


}

.contact_icon {
position: relative;
top:10%;
}

.contact_icon img{
position: relative;
width:5%;
}



.contact_icon figcaption {
  position: relative;
  display: inline-block;
  padding-left: 2%;
  position: relative;
  font-size: 2vw;

}


.follow_us {
  float: right;
  text-align: right;
  position: relative;
  display: inline-block;
  top: -68px;
}

.follow_us figcaption {
padding-left: 1rem;
text-align: center;
}

.follow_us figure {
  font-size: 2vw;
  float: right;
  top:-10rem;
}

.follow_us img {
  padding-top:1rem;
  padding-left: 1rem;
  width:15%;

}

h3 {
  position: absolute;
  display: inline-block;
  padding-left: 24%;

  bottom:1px;
  text-align: center;
  font-size: 1vw;



}
